<div class="row-fluid">
  <div class="span6">
    <%= render 'show_formated' %>
  </div>
  <div class="span6" id="form-edit-iki">
    <%= form_for(@post) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label "Judul" %>
        <%= f.text_field :title, placeholder: "Judul kode" %>
      </div>
      <div class="field">
        <%= f.label "Keterangan" %>
        <%= f.text_area :body, placeholder: "Keterangan" %>
      </div>
      <div class="field">
        <%= f.label "Kode" %>
        <%= f.text_area :code, placeholder: "Kode", id: "code_input" %>
      </div>
      <div class="actions">
        <%= f.submit "Simpan", :class => "btn btn-inverse" %>
      </div>
    <% end %>
  </div>
</div>