<% support_code = "# Berikut adalah bahasa yang didukung: BSH, c, cc, c++, cs, csh, Cyc, cv, htm, html, java, js, m, mxml, perl, pl, pm, py, rb, sh, xhtml , xml, xsl." %>

<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://placehold.it/64x64">
    </a>
    <div class="media-body">
      <h3 class="media-heading"><%= @post.title? ? @post.title : 'Tidak ada judul' %></h3>
      <small class="muted"> -- <%= @post.author_id? ? @post.author_id : 'Penulis tidak dikenal' %> </small>
       <br><mbd> <%= @post.body? ? @post.body : 'Tidak ada keterangan' %> </mbd> 
       <div class="media"  id="code_preview">
          <pre id="aa" class="highlight"> <%= @post.code? ? @post.code : support_code %> </pre>
      </div>
    </div>
  </li>
</ul>