<div class="row-fluid">
  <div class="span6">
  </div>
  <div class="span6">
  <h1>Editing post</h1>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
