pre.prettyprint {
  /*
  background-image: image-url("cold-bg-texture-02.jpg");
  */
  padding-left: 0;
  width: 97%; }

pre.prettyprint ol.linenums {
  padding-left: 20px; }

textarea {
  width: 97%;
  height: 200px; }

textarea#post_body {
  height: 80px; }

#form-edit-iki {
  background: #eee;
  padding: 20px; }

#form-edit-iki input[type=submit] {
  float: right; }

.media-body{
  text-align:justify;
}