<!DOCTYPE html>
<html>
<head>
  <title>Codesolving</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header">
  <h1> <small></small></h1> <%= link_to 'New Post', new_post_path %>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
